* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.container {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 0 200px;
        height: 4.2rem;
        align-items: center;

        .logo {
            img {
                object-fit: cover;
                width: 6rem;
                height: 2rem;
                padding-top: 0.4rem;
            }
        }

        // how to code the navbar fixed top by css?

        .navbar-collapse {
            ul {
                color: white;
                display: flex;
                padding: 0 auto;

                li {
                    margin-left: 40px;
                    list-style: none;
                    padding-top: 15px;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }

    .page-1 {
        padding: 100px 200px;
        display: flex;
        justify-content: space-between;
        background-image: url("../asset/header-bg.jpg");

        .title {
            width: 51%;
            font-family: "Raleway", sans-serif;

            h1 {
                padding-top: 25px;
                padding-bottom: 25px;
                color: white;
                text-transform: uppercase;
            }

            .divider {
                display: flex;
                align-items: center;
                text-align: center;
                // color: white;
            }

            .divider::before,
            .divider::after {
                content: "";
                height: 1px;
                width: 30px;
                background-color: white;
                // flex: 1;
            }

            p {
                color: rgba(255, 255, 255, 0.873);
                padding-top: 25px;
                padding-bottom: 35px;
            }

            .btn-download {
                width: 140px;
                height: 45px;
                background-color: rgba(255, 255, 255, 0);
                color: white;
                font-size: 17px;
                border: 2.2px solid rgba(255, 255, 255);
            }

            .btn-download:hover {
                border: 2.2px solid #e27121;
                color: #e27121;
            }
        }

        .form {
            width: 360px;
            background-color: #fff;
            height: 360px;
            border-radius: 5px;
            text-align: center;

            h2 {
                background-color: #f5f5f5;
                color: #333;
                font-family: "Open Sans", sans-serif;
                font-size: 20px;
                padding: 10px;
                font-weight: bolder;
                overflow: hidden;
                margin-bottom: 30px;
                text-align: center;

                span {
                    color: #ff8b38;
                    font-family: "Open Sans", sans-serif;
                    text-transform: uppercase;
                }
            }

            .form-control {
                margin-left: 10px;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid #ccc;
                width: 80%;
                margin: 0 auto 42.5px;
                height: 40px;

                ::placeholder {
                    height: 50px;
                }
            }

            .btn-submit {
                background-color: #ff8b3b;
                font-family: "Open Sans", sans-serif;
                color: white;
                font-size: 15px;
                font-weight: 700;
                width: 100%;
                height: 55px;
                border: none;
            }

            .btn-submit:hover {
                background-color: #e27121;
            }
        }
    }

    .tabs-section {
        // font-family: "Open Sans", sans-serif;
        display: flex;
        // justify-content: end;
        padding: 150px 200px;
        background-color: #f5f5f5;

        .list-tabs {
            width: 35%;
            // margin: 0 auto 20px;
            // text-transform: uppercase;

            li {
                border: 1px solid #ccc;
                background-color: #333;
                font-weight: bold;
                color: #fff;
                text-align: center;
                height: 110px;
                line-height: 110px;
                cursor: pointer;
                text-transform: uppercase;
                list-style: none;
            }
        }

        .tabs-content {
            .tab-one {
                h3 {
                    font-family: "Open Sans", sans-serif;
                    font-size: 20px;
                }
                max-width: 470px;
                margin-left: -170px;

                .lead {
                    padding: 50px 0;
                    color: rgba(142, 139, 139, 0.873);
                    font-size: 14px;
                    line-height: 1.5;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 200;
                }

                .btn-download {
                    font-family: "Open Sans", sans-serif;
                    font-size: 15px;
                    width: 120px;
                    height: 45px;
                    background-color: #ff8b38;
                    border: none;
                    border-radius: 5px;
                    color: white;
                }

                .btn-download:hover {
                    background-color: #ff8b38d5;
                }
            }
        }

        .img-tab {
            margin-left: 80px;
        }
    }

    .sub-list-section {
        display: flex;
        justify-content: space-between;
        padding: 150px 200px;

        .content {
            padding-left: 100px;
            h3 {
                font-weight: 900;
                font-size: 25px;
            }
            p {
                margin-top: 30px;
                color: #a1a1a1;
            }

            h3:after {
                content: "";
                width: 80px;
                height: 3px;
                background-color: #ff8b38;
                display: block;
                margin-top: 30px;
            }

            .list-icon {
                i {
                    font-size: 15px;
                    color: #ff8b38;
                    border: 2px solid #ff8b38;
                    border-radius: 50%;
                    height: 38px;
                    width: 38px;
                    line-height: 38px;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }

    .standard-picture {
        display: flex;
        justify-content: space-between;
        padding: 80px 200px;
        background-color: #f5f5f5;

        .standard-content {
            h3 {
                font-weight: bold;
                padding-bottom: 25px;
                font-size: 25px;
            }

            h3:after {
                content: "";
                width: 80px;
                height: 3px;
                display: block;
                background-color: #ff8b38;
                margin-top: 25px;
            }

            p {
                color: #a1a1a1;
                margin-right: 50px;
            }
        }
    }

    .our-process {
        // display: flex;
        // justify-content: space-between;
        padding: 0 200px;
        padding-top: 80px;

        .our-process-heading {
            text-align: center;
            margin: 0 auto;

            h3 {
                text-transform: uppercase;
                font-weight: bold;
                font-family: "Raleway", sans-serif;
                font-size: 40px;
            }

            h3:after {
                content: "";
                width: 80px;
                height: 3px;
                display: block;
                background-color: #ff8b38;
                margin-top: 25px;
                margin: 20px auto;
            }

            p {
                color: #a1a1a1;
                margin-bottom: 60px;
            }
        }

        .text-center {
            display: flex;
            text-align: center;
            i {
                color: #ff8b38;
                border: 2px solid #ff8b38;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                line-height: 60px;
            }

            // i:hover {
            //     width: 80px;
            //     height: 80px;
            //     align-items: center;
            // }

            h4 {
                text-align: center;
                font-family: "Open Sans", sans-serif;
                font-weight: bold;
                padding: 25px 0;
            }

            p {
                color: #a1a1a1;
                text-align: center;
                margin-bottom: 80px;
            }
        }
    }

    .stylish-axure {
        background: url("../asset/u25_state0.gif") no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        color: #fff;
        height: 300px;
        overflow: hidden;

        .overlay {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            h3 {
                text-transform: uppercase;
                text-align: center;
                font-size: 35px;
                padding-top: 40px;
                overflow: hidden;
                margin-bottom: 30px;
                color: #fff;
                font-family: "Raleway", sans-serif;
            }

            h3:after {
                content: "";
                width: 70px;
                height: 3px;
                background-color: #fff;
                display: block;
                margin: 15px auto 15px;
            }

            p {
                text-align: center;
                color: #b9b9b8;
            }

            button {
                margin: 30px auto;
                border: 2px solid #fff;
                background-color: transparent;
                color: #fff;
                font-size: 17px;
                border-radius: 0;
                padding: 12px 40px;
                display: block;
                transition: all 0.5s ease-in-out;
                -webkit-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
            }

            button:hover {
                border: 2px solid #e27121;
                color: #e27121;
            }
        }
    }

    .contact-us {
        padding: 80px 200px;

        .contact-us-header {
            h3 {
                font-family: "Raleway", sans-serif;
                text-align: center;
                font-size: 40px;
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 80px;
            }

            h3:after {
                content: "";
                width: 80px;
                height: 3px;
                background-color: #ff8b38;
                text-align: center;
                margin: 25px auto;
                display: block;
            }

            p {
                text-align: center;
                color: #a1a1a1;
                margin-bottom: 60px;
            }
        }

        .form {
            form {
                display: inline;
                .form-group {
                    .form-control {
                        margin-bottom: 10px;
                        border: none;
                        border-bottom: 1px solid #bbc1b8;
                        border-radius: 0;
                        box-shadow: none;
                    }
                }
            }

            textarea {
                height: 150px;
                width: 530px;
                border: none;
                box-shadow: none;
                border-bottom: 1px solid #bbc1b8;
            }
        }

        .btn-message {
            margin: 20px auto 60px;
            padding: 8px 30px;
            background-color: #ff8b38;
            color: #fff;
            border-radius: 5px;
            display: block;
            border-radius: none;
            border: none;
        }
    }

    .social-footer {
        background-color: #000;
        color: #a1a1a1;
        text-align: center;
        height: 100px;

        i {
            margin-left: 30px;
            margin-top: 20px;
            font-size: 25px;
            transition: all 0.5s ease-in-out;
        }

        i:hover {
            cursor: pointer;
            color: #e27121;
        }

        p {
            margin-top: 15px;
        }
    }
}
